
<div id="shopify-section-caring-for-your-scarf" class="shopify-section">

<section class="wuscrf bgwhite p-t-62 p-b-46" data-section-id="wys-new" style="background-image:url(//cdn.shopify.com/s/files/1/0070/0835/4356/t/69/assets/-rb.svg?41432);">
   <div class="container">
     <div class="sec-title p-b-22 m-p-t-22">
      <h3 class="m-text5 t-center">Caring For your Scarfling</h3>
    </div>
    <div class="content_centered">
      	<div class="care_row">
        <div class="care_img">
        	<img class"care_img" src="{{ 'cloud_png.png' | asset_url }}">
		</div>
		<div class="care_text">
        	<p>Avoid contact with rain, water and other chemicals, and entrust it to a professional dry cleaner when needed.</p>
      	</div>
   </div>
   <div class="care_row">
        <div class="care_img">
       		<img class"care_img" src="{{ 'wool_png.png' | asset_url }}">
		</div>
		<div class="care_text">
        	<p>Preserve the beauty of your silk & wool products by storing them flat and untied.</p>
      	</div>
    </div>
    <div class="care_row">
        <div class="care_img">
        	<img class"care_img" src="{{ 'care_png.png' | asset_url }}">
		</div>
		<div class="care_text">
        	<p>Scarflings' products are made with carefully selected materials. Please handle with care for longer product life	. </p>
        </div>
    </div>
      
      	     
      	 
         
    

      	
             
    </div>
</div>
</section>

</div>
