<div class="flex-w p-l-15 p-r-15">
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 {% cycle '','bo2','' %} respon1">
  	{% if block.settings.enable_img %}
    <span class="feature-icon">
  	 <img src="{{ block.settings.feature_image | img_url: 'master' }}">
    </span>
    {% endif %}
    {% if block.settings.enable_title %}
    <h4 class="m-text12 t-center p-b-10">
      {{ block.settings.feature_service_title }}
    </h4>
    {% endif %}
    <span class="s-text11 t-center">
      {{ block.settings.feature_service_description }}
    </span>
  </div>
  {% endfor %}
  {% endif %}
</div>
