
{% if template != 'cart' %}
<i class="fa fa-shopping-bag fa-2x dhicon header-icon1 js-show-header-dropdown" aria-hidden="true"></i>

<span class="header-icons-noti" id="cart-total">{{ cart.item_count }}</span>
<div id="cart" class="header-cart header-dropdown" style="margin-top: -30px;">
  <div id="subcart">
    
    {% include 'cart-popup-content' %}
  </div>
</div>
{% endif %}

