
<div class='prparent' >
  <div class="product-recommendations" data-product-id="{{ product.id }}" ></div>
</div>


<script>
var loadProductRecommendationsIntoSection = function() {
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
  var productId = '{{product.id}}';
    var limit = 5;
  var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
//console.log(requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300){
      var container = document.createElement("div");
      container.innerHTML = request.response;
      productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
    }
  };
  request.send();
};

  loadProductRecommendationsIntoSection();
</script>