<!-- Shipping -->
<section class="custom_image bgwhite p-t-62 p-b-46" data-section-id="{{ section.id }}">
   <div class="container">
     <div class="sec-title p-b-22 m-p-t-22">
      {% if section.settings.heading != blank %}  
      <h3 class="m-text5 t-center">{{ section.settings.heading }}</h3>
      {% endif %}
    </div>
    <div class="logo-bar slick5">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
         <div class="item-slick2 logo-bar__item">
           <a href="{{block.settings.custom_image_link_to}}">
              <img  class="logo-bar__image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.custom_image | img_url: 'master' }}">
           </a>
         </div>
       {% endfor %}
    {% endif %}       
    </div>
</div>
</section>
{% schema %}
{
  "name": "Custom Image Section",
  "max_blocks": 16,
	"settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      }
	],
   "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Image",
          "info": "add image"
        },
		{
		  "type": "url",
          "id": "custom_image_link_to",
          "label": "URL",
          "info": "add url"
		}
      ]
    }
  ],
  "presets": [{
    "name": "Add Image section",
    "category": "Custom Section",
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
