<style>
  #shopify-section-new-influencer-section6 {
    background: #c3882b;
    padding: 30px 0px 30px 0px;
}
  
img.top_quote {
    position: absolute;
    width: 60px;
    height: auto;
    top: 95px;
    left: 40px;
    bottom: auto;
    margin: 0px !important;
}
img.bottom_quote {
    position: absolute;
    width: 60px;
    height: auto;
    top: 95px;
    right: 60px;
    bottom: auto;
    margin: 0px !important;
}

  #shopify-section-new-influencer-section6 h3 {
    color: #fff !important;
    font-size: 26px !IMPORTANT;
    margin: 0px 0px 20px 0px !important;
    text-align: center;
}
  #shopify-section-new-influencer-section6 .simpletext {
    margin: 0px auto 0px auto !important;
    text-align: center;
    width: 835px;
    max-width: 100%;
    position:relative;
}
  @media (max-width:767px){
  #shopify-section-new-influencer-section6 h3 {
    font-size: 15px !IMPORTANT;
    margin: 0px 0px 12px 0px !important;
    line-height: 1.5em;
    font-weight: normal;
}
#shopify-section-new-influencer-section6 .simpletext {
    margin: 0px auto 0px auto !important;
    text-align: center;
    width: 292px;
    max-width: 100%;
}

  #shopify-section-new-influencer-section6 {
    padding: 15px 0px 15px 0px;
}
img.top_quote {
    position: absolute;
    width: 35px;
    height: auto;
    top: 8px;
    left: -10px;
    bottom: auto;
    margin: 0px !important;
}
img.bottom_quote {
    position: absolute;
    width: 35px;
    height: auto;
    bottom: 33px !important;
    right: 5px;
    margin: 0px !IMPORTANT;
    top: auto !important;
}




  }
    @media (max-width: 322px){
    img.bottom_quote {
    width: 35px;
}


  }
</style>
<section class="midCtaSection commonSection" id="section_k_{{ section.id }}">
	<div class="container">
    	<div class="row">
            <div class="simpletext">
                    <h3> {{ section.settings.cta_text }} </h3>
              		<img class="top_quote" src="{{ section.settings.quote1 | img_url: 'master' }}">
          			<img class="bottom_quote" src="{{ section.settings.quote2 | img_url: 'master' }}">       
          </div>
      </div>
     
    </div>
</section>
{% schema %}
  {
    "name": "influencer features",
    "settings": [
	   
      {
      "id": "cta_text",
      "type": "html",
      "label": "text"
      },
	  {
		"id": "quote1",
        "type": "image_picker",
        "label": "Image"
		},
       {
		"id": "quote2",
        "type": "image_picker",
        "label": "Image"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


