
<section class="page_content_section postBannersection p-t-66 p-b-38" id="section_k_{{ section.id }}" >
<div class="row">
<div class="col-md-12 FirstSectImage" style="background-image:url('{{ section.settings.mobile_bg_image | img_url: 'master' }}')" >
 
          </div>
          
<div class="col-md-12 bgWhite">
  <div class="container">
  <div class="simpletext">
    <h2 class="textOverImg"> {{ section.settings.mobile_left_heading }} </h2>
    <p>{{ section.settings.mobile_left_text }}</p>
    </div>
	</div>    
</div>

          
          </div>
</section>
{% schema %}
  {
    "name": "Banner",
    "settings": [
	  {
        "id": "mobile_left_heading",
        "type": "html",
        "label": "Heading",
        "default": "<p>Add your text here</p>"
      },
      {
        "id": "mobile_left_text",
        "type": "html",
        "label": "Description",
        "default": "<p>Add your text here</p>"
      },
		{
		"id": "mobile_bg_image",
        "type": "image_picker",
        "label": "Background"
		},
		{
		"id": "mobile_image_right",
        "type": "image_picker",
        "label": "Image"
		}	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
