<div class="outfitSlider">
  
{% for block in section.blocks %}
  <div class="imageSlide">
    <input type="radio" name="one" id="" value="{{block.settings.value}}">
    <label for="" class="overlay">
      <img src="{{ section.settings.check_image | img_url: 'master' }}">
    </label>
    <img src="{{ block.settings.outfit_slide | img_url: 'master' }}">
  </div>
{% endfor %}

</div>


{% schema %}
  {
    "name": "Outfit Slider",
    "settings": [
    
     {
            "type": "image_picker",
            "id": "check_image",
            "label": "Check Image",
            "info": "add image"
       }
      
    ],
  "blocks": [
    {
      "type": "box",
      "name": "Outfit Slide",
      "settings": [
  
    {
            "type": "image_picker",
            "id": "outfit_slide",
            "label": "Slides Image",
            "info": "add image"
       },
		{
            "type": "text",
            "id": "value",
            "label": "Value"
       }
      ]

    }
  ]
 }
{% endschema %}


