<section class="roundLeftImage commonSection" id="section_k_{{ section.id }}">
	<div class="container">
    	<div class="roundImageinner">
            <img src="{{ section.settings.round_image_left | img_url: 'master' }}">
            <div class="simpletext">
              <h2> {{ section.settings.round_right_text }} </h2>
            </div>   
       </div>
   </div>
</section>
{% schema %}
  {
    "name": "Left image section",
    "settings": [
      {
        "id": "round_right_text",
        "type": "html",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
		{
		"id": "round_image_left",
        "type": "image_picker",
        "label": "Image"
		}	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
