<!--Error Text Area Start-->
<style>
  header:not(.home) .wrap_header {
    border-bottom: 0px;
    margin-bottom: 0px;
}
#shopify-section-404-page {
    position: relative;
}
.errorLeftbg {
    position: absolute;
    right: 0px;
    width: 350px;
    top: 0px;
}
.errorLeftbg img {
    width: 100%;
    height: auto;
}
.errorcenterbg {
    text-align: center;
    padding: 140px 0px 140px 0px;
    position: relative;
    z-index: 9;
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
}
.errorcenterbg img {
    width: 100%;
}
.errorrightbg {
    position: absolute;
    left: 0px;
    width: 325px;
    bottom: 0px;
}
section .errorcenterbg h2 {
    color: #000 !important;
    margin: 40px 0px 25px 0px;
}
.errorcenterbg a.btn.btn--cta.cpsgts {
    background: #b65327 !important;
    border: 0px;
    height: auto !important;
    box-shadow: unset;
    font-size: 28px;
    padding: 10px 40px !important;
    border-radius: 10px !important;
    font-weight: 500;
    max-width: 100% !important;
    display: inline-block !important;
    width: auto;
    min-width: 400px !important;
    margin: 0 auto;
    font-family: 'DM Serif Text', serif !important;
}
.errorcenterbg a.btn.btn--cta.cpsgts:hover{
	  background: #b64c28 !important;
    border: 0px !important;
    color: #fff !important;
}
.errorrightbg img {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) and (max-width: 1024px){
  
 .errorcenterbg {
    text-align: center;
    padding: 100px 0px 100px 0px;
    position: relative;
    z-index: 9;
    width: 450px;
    margin: 0 auto;
    max-width: 100%;
}
  .errorrightbg, .errorLefttbg {
    width: 300px;
}
  .errorcenterbg a.btn.btn--cta.cpsgts{
    font-size: 24px;
     min-width: 350px !important;
  }
}
@media (max-width: 767px){
	.errorLeftbg {
        width: 200px;
    }
    .errorrightbg {
        width: 175px;
    }
    .errorcenterbg a.btn.btn--cta.cpsgts {
        min-width: 200px !important;
        font-size: 19px;
        padding: 8px 20px !important;
        line-height: 1.5em;
    }
    section .errorcenterbg h2 {
        color: #000 !important;
        margin: 30px 0px 20px 0px;
    }
    .errorcenterbg {
        padding: 60px 0px 60px 0px;
    }
    .errorcenterbg img {
        width: 300px;
        max-width: 100%;
    }
    #shopify-section-404-page {
        position: relative;
        padding: 0px 15px;
    }
}
</style>
{% comment %}
	{% include 'breadcrumb' %}
{% endcomment %}
<section>
     {% section '404-page' %}
</section>
<!--End of Error Text Area-->



