<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" >
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
<!-- content page -->
<section class="bgwhite p-t-66 p-b-60 floralbg-rt">
  <div class="container">
    <div class="row boxed shrink75">
      <div class="col-md-6 p-b-0 p-l-0 p-r-0 order_trk_lt hide_mobile">
        &nbsp;
      </div>
      <div class="col-md-6 p-b-30 p-t-50 order_trk">
        {{ page.content }} 
      </div>
    </div>
  </div>
</section>