<!-- Title Page -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>

<style>
  .noscroll{
    overflow-y: hidden !important;
  }

.simpletext p sup {
    font-size: 10px !important;
}
  .mfp-bg.mfp-fade.mfp-ready {
    z-index: 9999999;
}
  .mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-fade.mfp-ready {
    z-index: 9999999;
}
  html {
    padding-right: 0px !important;
    overflow-x: hidden !important;
}
  #shopify-section-content_left_image_right_desktop .FirstSectImage, .centered_image {
    position: relative;
}

#shopify-section-title_top_image_left_content_right_slider .owl-theme .owl-controls .owl-page span {
    background: transparent;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 6px 0px 0px;
    opacity: 1;
    width: 12px;
    border: 2px solid #b64d27;
}
#shopify-section-title_top_image_left_content_right_slider .owl-theme .owl-controls .owl-page.active span {
    background: #b64d27;
}
  
  	#shopify-section-title_top_image_left_content_right_slider section .owl-pagination {
    display: block;
    text-align: center;
    margin-top: 20px;
}
  
  .FirstSectImage {
    background-repeat: no-repeat;
}

    .owl-theme .owl-controls .owl-page {
        display: inline-block;
    }
    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }
      .col-md-8, .col-md-4,.col-md-6 ,.col-md-12 {
        display: inline-block;
        float: left;
    }
      .page_title {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        /* background-color: #b64d27 !important; */
        background: #b64d27 !important;
    }

      .page_title {
        padding: 35px 0px !important;
    }
    .page_title h1 {
        font-size: 45px;
    }
    #shopify-section-content_left_image_right_desktop, #shopify-section-content_left_image_right_mobile {
        background: #fcf9f4;
    }
    #shopify-section-content_left_image_right_desktop section, #shopify-section-content_left_image_right_mobile section{
        padding: 0px;
    }
    #shopify-section-content_left_image_right_desktop .simpletext, #shopify-section-content_left_image_right_mobile .simpletext {
        padding: 90px 0px 70px 0px;
    }
    #shopify-section-content_left_image_right_desktop p:last-child, #shopify-section-content_left_image_right_mobile p:last-child {
        margin-bottom: 0px;
    }
    
  .simpletext h2 {
    color: #b44b2b;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2em;
    margin-bottom: 30px;
}
  
    #shopify-section-content_left_image_right_desktop p, #shopify-section-content_left_image_right_mobile p {
        font-size: 22px;
        line-height: 1.5em;
        color: #000000;
        font-weight: 400;
    }
    #shopify-section-content_left_image_right_desktop img,  #shopify-section-content_left_image_right_mobile img {
        height: 100%;
        width: auto;
        max-width: 100%;
    }

   section h1, section h2, section h3, section h4, section h5, section h6, a.btn{
        font-family: 'DM Serif Text', serif !important;
    }

      
  .show_on_btn {

    display: none;

}
      #shopify-section-content_top_image_bottom h2, #shopify-section-content_top_image_bottom_mobile h2 {
        text-align: center;
    }
    #shopify-section-content_top_image_bottom h3, #shopify-section-content_top_image_bottom_mobile h3 {
        text-align: center;
    }
    #shopify-section-content_top_image_bottom {
        padding: 75px 0px 0px 0px;
    }
    #shopify-section-content_top_image_bottom .simpletext{
        padding-bottom: 90px;
    }
    #shopify-section-content_top_image_bottom p:last-child, #shopify-section-content_top_image_bottom_mobile p:last-child {
        margin-bottom: 0px !important;
    }

    #shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile  .bg_image{
        background-size: cover;
        background-repeat: no-repeat;
        height: 311px;
        background-position: center -160px;
    }
    #shopify-section-title_top_image_left_content_right_slider {
        padding: 93px 0px 103px 0px;
    }
    #shopify-section-title_top_image_left_content_right_slider section {
        padding: 0px;
    }
    #shopify-section-title_top_image_left_content_right_slider {
        padding: 93px 0px 103px 0px;
    }

    #shopify-section-title_top_image_left_content_right_slider h2 {
        text-align: center;
        margin-bottom: 60px;
    }
    #section_k_content_top_image_bottom {
        padding: 0px;
    }
      
#section_k_centered_image_content_above_image {
    background-position: 0px;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    display: flex;
}
  #shopify-section-title_top_image_left_content_right_slider section {
    background-repeat: no-repeat;
    background-position: -144px 20px;
    background-size: 599px 599px;
    height: 100%;
    min-height: 100%;
    display: inline-block;
    width: 100%;
}
    #shopify-section-title_top_image_left_content_right_slider section img {
        border-radius: 50%;
        width: 430px;
        height: 430px;
      
    }
    .rondedImageLeft p {
        text-align: center;
        width: 341px;
        margin: 20px auto 0px auto;
        line-height: 1.4em !important;
        padding: 0px;
    }
  	#section_k_title_top_image_left_content_right_slider h3 {
        margin-bottom: 0px !important;
    }
    section p:last-child {
        margin-bottom: 0px !important;
    }
    #shopify-section-centered_image_content_above_image {
        padding: 0px;
        background: #b64d27;
    }
    #shopify-section-centered_image_content_above_image section {
      	padding: 85px 0px 75px 0px;
        background-size:cover;
        
    }
    #shopify-section-centered_image_content_above_image section .bg_image{
         background-position:left top, right top;
         background-repeat: no-repeat, no-repeat;
         min-height: 600px;
      
         height: 100%;width: 100%;
    }
      /*
    #section_k_centered_image_content_above_image {
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
        height: 100%;
        width: 100%;
        display: flex;
    }*/
    #shopify-section-centered_image_content_above_image h2 {
        color: #fff !important;
        margin: 50px 0px 40px 0px;
        font-size: 33px;
    }
    #shopify-section-centered_image_content_above_image p {
        color: #fff !important;
        padding: 0px !important;
    }

    .environment_section .centered_image {
        width: 657px;
        margin: 0 auto;
        float: unset;
        padding: 0px;
        border-radius: 10px !important;
        max-width: 100%;
    }
    .environment_section {
        text-align: center;
    }
    .environment_section > div img {
        height: 400px;
        width: 100%;
        border-radius: 10px;
    }
    #shopify-section-testimonial__bg_title_user_image {
        padding: 95px 0px 20px 0px;
    }
    #shopify-section-testimonial__bg_title_user_image section {
        padding: 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
        border-radius: 10px;
      
    }
    #section_k_testimonial__bg_title_user_image .container > div div {
        padding: 0px;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 35px 0px 55px 0px;
    }
    .user_card img {
        width: 150px !important;
        height: 150px !important;
    }
    .user_address {
        color: #000 !important;
        font-size: 16px !important;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .user_data {
        margin-left: 30px !important;
        text-align: left !important;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
    }
      #shopify-section-title_top_image_left_content_right_slider br {
        display: none;
    }
    .user_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        margin: 0px !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
        margin: 0px !important;
        padding-bottom: 0px;
    }
      
#shopify-section-testimonial__bg_title_user_image section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -185px) bottom;
    background-size: 475px;
    background-image: none !important;
}
      
    .centered_image {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        width: 100%;
    }
      .SliderLeftImage{
        background-size: cover;
        width: 430px;
        height: 430px;
        margin: 0 auto;
        border-radius: 50%;
        background-repeat: no-repeat;
      }

      .FirstSectImage{

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      
    }
      .container{
        width:1140px !important;
      }
#section_k_content_top_image_bottom .simpletext p, #section_k_content_top_image_bottom .simpletext h2 {
    text-align: left;
}
#shopify-section-centered_image_content_above_image section .simpletext p {
    text-align: left;
}


.simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 30px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
  height: auto;
}
.simpletext a.btn:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}


.FirstSectImage {
    background-position: bottom;
}   
.trademark {
    font-weight: 500;
    font-size: 10px;
    position: relative;
/*     top: 0px; */
}
#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 16px;
    position: relative;
    top: 0px;
    font-weight: bold !important;
}

@media (min-width:992px) and (max-width:1160px){

.roundLeftImage .roundImageinner {
    padding-right: 0px;
}

}
@media (min-width:768px) and (max-width:991px){

.roundLeftImage .roundImageinner {
    padding-right: 0px;
}
.commonSection img {
        height: 325px;
}
}
   @media (min-width:768px) and (max-width:1160px){
.container {
    width: 768px!important;
    max-width: 768px !important;
    padding: 0px 15px;
}
     .rondedImageLeft p {
    width: 265px;
}
     #shopify-section-title_top_image_left_content_right_slider section {
    background-repeat: no-repeat;
    background-position: -144px 20px;
    background-size: 345px;
    height: 100%;
    min-height: 100%;
    display: inline-block;
    width: 100%;
}
     #shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile .bg_image {
    background-position: center -90px;
}
     .SliderLeftImage {
    width: 300px;
    height: 300px;
}
     #shopify-section-title_top_image_left_content_right_slider section {
    background-repeat: no-repeat;
    background-position: -144px 20px;
    background-size: 345px;
}
     #shopify-section-content_left_image_right_desktop .simpletext p {
    font-size: 16px !important;
}
#shopify-section-content_left_image_right_desktop .simpletext {
    padding: 50px 0px 50px 0px;
}
 #shopify-section-content_left_image_right_desktop .simpletext   .simpletext h2 {
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 30px;
}
   }  
    @media(max-width:767px){
.simpletext p sup {
    font-size: 9px !important;
}
      #section_k_slider_title_top_image_left_content_right_slider .owl-item {
    padding: 0px 7px;
}
#shopify-section-content_left_image_right_mobile .play_button {
    display: none;
    z-index: 9999;
}


      #shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile .play_button {
    transform: unset;
    top: auto;
    bottom: 93px;
    right: 10px;
    left: auto;
    width: 70px;
}
 .expandedSectionInner {
    position: relative;
}


#shopify-section-content_left_image_right_mobile section#section_k_content_left_image_right_mobile {
    background-size: 0 0 !important;
}
#shopify-section-centered_image_content_above_image a.btn.btn--cta.cpsgts {
    border: 1px solid #fff;
    background: transparent !important;
    width: auto !important;
    min-width: unset !important;
    margin: 10px 0px 0px 0px !important;
}
#shopify-section-centered_image_content_above_image a.btn.btn--cta.cpsgts:hover {
    background: #fff !important;
    color: #b64d27 !important;
}
#shopify-section-content_left_image_right_mobile .simpletext {
    padding: 00px 0px 0px 0px;
}   
      #shopify-section-content_left_image_right_mobile .owl-pagination {
    bottom: 40px !important;
    position: absolute;
        margin-left:0px;
}
   #section_k_slider_meet_out_stylist > div:last-child .SliderLeftImage {
    left: auto;
    right: 25px;
}
#section_k_centered_image_content_above_image {
    background-position: top;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    background-size: 407px !important;
    display: flex;
}
#section_k_slider_content_left_image_right_mobile .col-md-5.FirstSectImage {
    width: 40%;
}
#shopify-section-content_left_image_right_mobile .owl-theme .owl-controls .owl-page span {
    background: transparent;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 6px 0px 0px;
    opacity: 1;
    width: 12px;
    border: 2px solid #b64d27;
}
#shopify-section-content_left_image_right_mobile .owl-theme .owl-controls .owl-page.active span {
    background: #b64d27;
}
#section_k_content_top_image_bottom_mobile br {
    display: none;
}
#shopify-section-content_left_image_right_mobile .simpletext {
    padding: 0px 0px 80px 0px;
}
#section_k_slider_content_left_image_right_mobile {
    width: 60%;
}
#section_k_content_top_image_bottom_mobile {
    padding: 50px 0px 0px 0px;
    text-align: center;
}
      .top_img_bottom_sec{
      padding-bottom:55px;
      }
.btn.btn--cta.cpsgts, .simpletext .btn.btn--cta.cpsgts {
    background: #b65327 !important;
    font-size: 21px;
    height: 42px;
    width: auto;
    border-radius: 5px !important;
    text-align: center;
    padding: 0px !important;
    margin: 20px auto 0px auto !important;
    padding: 0px 30px !important;
    line-height: 42px;
    min-width: unset;
}
       
.btn.btn--cta.cpsgts:hover, .simpletext .btn.btn--cta.cpsgts:hover {
    opacity: 0.8 !important;
}
#shopify-section-title_top_image_left_content_right_slider h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}   
    

        .page_title h1 {
        font-size: 24px;
        line-height: 23px;
        color: #fcf9f4;
    }
    .page_title {
        padding: 13.5px 0px !important;
    }
    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0px 25px !important;
    }
    .simpletext h2 {
    color: #b44b2b;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 17pt;
    line-height: 1.2em;
}
      section#section_k_content_left_image_right_mobile .simpletext h2 {
    font-size: 13pt;
}
section p {
    font-size: 14px !important;
    line-height: 17pt !important;
    color: #000000 !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
    padding-top: 0px !important;
}
    #shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile .bg_image {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        background-position: center -56px;
    }
    #shopify-section-centered_image_content_above_image section {
        padding: 60px 0px 50px 0px;
        background-size: cover;
    }
    #shopify-section-centered_image_content_above_image .environment_section, #shopify-section-centered_image_content_above_image .environment_section > div {
        padding: 0px !important;
    }
    .centered_image {
        height: 200px;
    }
    #shopify-section-centered_image_content_above_image h2 {
        color: #fff;
        margin: 35px 0px 20px 0px;
        text-align: center;
        font-size: 17pt;
        line-height: 20pt;
    }
    section p:last-child {
        margin-bottom: 0px !important;
        padding-bottom: 0px;
    }
    #shopify-section-testimonial__bg_title_user_image {
        padding: 50px 0px 60px 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 40px 25px 40px 25px !important;
        background: #fff !important;
        border-radius: 10px;
    }
    .user_card img {
        width: 75px !important;
        height: 75px !important;
    }
    .user_data .user_name {
        font-size: 18pt !important;
        margin: 0px 0px 8px 0px !important;
        line-height: 18pt;
    }
    .user_position {
        font-size: 10pt !important;
        line-height: 1.2em !important;
    }
    .user_address {
        font-size: 10pt !important;
        line-height: 1.3em !important;
    }
    .user_data {
        margin-left: 12px !important;
        text-align: left !important;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 20px 0px 30px 0px;
    font-size: 12pt;
    }
    .SliderLeftImage {
        width: 320px;
        border-radius: 7px;
        height: 200px;
        max-width: 100%;
    }
      .environment_section .centered_image {
    width: 320px;
    border-radius: 7px !important;
    max-width: 100%;
}
    #shopify-section-title_top_image_left_content_right_slider {
        padding: 55px 0px 50px 0px;
    }
    #shopify-section-title_top_image_left_content_right_slider .simpletext {
        order: 2;
    }
    #shopify-section-title_top_image_left_content_right_slider .row > .col-md-12 {
        display: flex;
        flex-direction: column;
    }
    #shopify-section-title_top_image_left_content_right_slider {
        padding: 0px;
        display: flex;
        justify-content: center;
    }
        
    #shopify-section-title_top_image_left_content_right_slider section {
        background-repeat: no-repeat;
        background-position: -70px 14px;
        background-size: 240px;
        padding: 55px 0px 50px 0px;
        width: 100%;
        background-image: none !important;
    }
    section .rondedImageLeft p {
        font-size: 10pt !important;
        text-align: center;
        width: 100%;
        margin: 20px auto 0px auto !important;
        line-height: 17pt !important;
        padding: 0px;
    }
    #shopify-section-title_top_image_left_content_right_slider .rondedImageLeft {
        order: 1;
   padding:0px;
    }
    #shopify-section-content_top_image_bottom p:last-child {
        margin-bottom: 0px !important;
        padding-bottom: 0px;
    }
    #shopify-section-content_top_image_bottom .simpletext {
        padding-bottom: 55px;
    }
    #shopify-section-content_top_image_bottom {
        padding: 50px 0px 0px 0px;
    }
    #shopify-section-content_top_image_bottom h2 {
        text-align: center;
        display: none;
    }
    #shopify-section-title_top_image_left_content_right_slider h2 {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 17pt;
    }
    #shopify-section-title_top_image_left_content_right_slider .col-md-6:last-child {
        order: 3;
        padding: 0px;
        text-align: center;
    }
    
    #shopify-section-testimonial__bg_title_user_image section {
        background-image: none !important;
    }
      
.col-md-5.FirstSectImage {
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
#section_k_slider_content_left_image_right_mobile.container {
    padding: 0px 0px 0px 30px !important;
}
#shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile .bg_image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 202px;
    background-position: center -79px;
}
#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 14px !important;
}
.trademark {
    font-size: 9px !important;
}
.col-md-5.FirstSectImage {

    background-size: 100% 370px;
    background-repeat: no-repeat;
    background-position: bottom;
}


  
.about_us_section_title h2{
    color: #b44b2b;
font-weight: 400;
margin-bottom: 20px;
font-size: 13pt;
line-height: 1.2em;
}
#shopify-section-content_left_image_right_mobile section {
    padding: 40px 0px 0px 0px;
    /* background-size: contain; */
    background-position: right bottom;
    background-size: 23%;
    background-repeat: no-repeat;
    margin-right: 0px;
}
/* #section_k_slider_content_left_image_right_mobile .col-md-7 {
    width: 64%;
    padding: 0px 0px 0px 0px;
} */
      #section_k_slider_content_left_image_right_mobile.col-md-7{
    width: 100%;
    padding: 0px 0px 0px 0px;
}
      #shopify-section-content_left_image_right_mobile .about_us_section_title {
    width: 60%;
}

      

#section_k_title_top_image_left_content_right_slider {
    text-align: center;
}
#section_k_title_top_image_left_content_right_slider .btn.btn--cta.cpsgts {
    margin-top: 10px !important;
}

.top_img_bottom_sec .simpletext p, #shopify-section-title_top_image_left_content_right_slider .simpletext p {
    text-align: left;
}
.roundImageinner p {
    text-align: center;
}

.commonSection .simpletext {
    width: 100%;
      align-items: center;
}
.commonSection img {
    width: auto;
    height: 285px;
    max-width: 100%;
    margin-bottom: 40px;
}

.simpletext a.btn {
    padding: 6px 25px;
    font-size: 21px !important;
    margin: 15px 0px 0px 0px !important;
}
.chatButton {
    width: 100%;
    text-align: center;
}
.roundImageinner .simpletext h2 {
    text-align: center;
}
.roundImageinner .simpletext p {
    text-align: left;
}
.expandedSectionInner > div {
    padding: 0px !important;
}
#shopify-section-content_left_image_right_mobile .about_us_section_title {
    width: 100% !important;
}
#shopify-section-content_left_image_right_mobile .simpletext {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
#shopify-section-content_left_image_right_mobile .simpletext p {
    text-align: left;
}
#shopify-section-content_left_image_right_mobile a.btn.btn--cta.cpsgts {
    margin: 10px 0px 50px 0px !important;
}
.top_img_bottom_sec a.btn.btn--cta.cpsgts {
    margin-top: 10px !important;
}
#shopify-section-title_top_image_left_content_right_slider  .col-md-12, #shopify-section-title_top_image_left_content_right_slider  .col-md-6 {
    padding: 0px !important;
}
#shopify-section-content_top_image_bottom_mobile h3 {
    text-align: left;
}
#shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile {
    background-size: 125px !important;
    background-position: calc(100% - 0px)bottom;
}
.expandedSectionInner p:not(:first-child) {
    width: 63%;
}
#shopify-section-content_left_image_right_mobile .simpletext p {
    margin-bottom: 20px !important;
}
    }
 @media (max-width: 576px){
 #shopify-section-content_left_image_right_mobile .simpletext p {
    margin-bottom: 10px !important;
    text-align: left;
}
#shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile {
    background-size: 150px !important;
    background-position: calc(100% - 0px)bottom;
}
  }
 @media (max-width:420px){
  #shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile {
    
    background-size: 45% !important;

}
  #shopify-section-content_left_image_right_mobile .about_us_section_title {
    width: 65%;
}
   #shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile .bg_image {
    height: 102px;
    background-position: center -46px;
}
#shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile {
    background-size: 150px !important;
    background-position: calc(100% - 0px)bottom;
}
.expandedSectionInner p:not(:first-child) {
    width: 57%;
}
  }
 
  @media (min-width:421px) and (max-width:600px){

    #shopify-section-content_top_image_bottom .bg_image, #shopify-section-content_top_image_bottom_mobile .bg_image {
    height: 102px;
    background-position: center -46px;
}
  }
      
      #shopify-section-centered_image_content_above_image br {
        display: none;
    }


    body:not(.common-home) footer {
        margin-top: 0px;
    }
  @media (max-width:380px){
  #section_k_slider_content_left_image_right_mobile .col-md-7{
     width: 100% !important;
    padding: 0px 0px 0px 0px;
}
  }
  @media (max-width: 358px){
  .user_position {
    font-size: 9pt !important;
    line-height: 1.2em !important;
}
    .user_address {
    font-size: 9pt !important;
    line-height: 1.3em !important;
}
  }
      
      @media (max-width:767px){
        .mobile_only{
        display:block !important;
        }
        .desktop {
        	display: none !important;
    	}
        #shopify-section-content_top_image_bottom {
    		display: none;
		}
      
      }
      @media (min-width:768px){
        .mobile_only{
        	display: none !important;
        }
        .desktop {
        	
          	display:block !important;
    	}
        #shopify-section-centered_image_content_above_image a.btn.btn--cta.cpsgts{
        	display: none !important;
        }
        #shopify-section-content_left_image_right_desktop .FirstSectImage {
    margin-top: 35px !important;
}
            #shopify-section-content_top_image_bottom_mobile {
    display: none;
}
  .btn.btn--cta.cpsgts {
    display: none;
}
      }
      

@media (min-width: 3000px){
#shopify-section-content_top_image_bottom .bg_image {
    height: 875px !important;
    background-position: center -459px;
}
  }
  @media (max-width: 350px){
#shopify-section-content_left_image_right_mobile.show_image section#section_k_content_left_image_right_mobile {
    background-size: 150px !important;
    background-position: calc(100% - 0px)bottom;
}
  }
  @media (max-width:330px){
	
    section p {
    	font-size: 13px !important;
	}
    
}
/*  new css  */
  @media only screen and (max-width: 767px){
	.page_content_section .environment_section h3.simpletext {
	    margin-bottom: 0 !important;
	}
    div#shopify-section-testimonial__bg_title_user_image {
      padding: 60px 0 0px 0px !important;
  }
  
}
div#shopify-section-testimonial__bg_title_user_image .simpletext p {
    max-width: 830px;
    margin: auto;
}
</style>
<div class="about_us_k">
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center">{{ page.title }}</h1>
</section>
{% comment %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  style="background-color:#000;">
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>

  {% endcomment %}
  
<!-- content page -->

<!--Section1-->
    
        {% section 'content_left_image_right_desktop' %}
  		
  {% section 'content_left_image_right_mobile' %}
	

<!--Section2-->

        {% section 'content_top_image_bottom' %}
  
  {% section 'content_top_image_bottom_mobile' %}
  
  

<!--Section3-->
		{% comment %}
    		{% section 'title_top_image_left_content_right' %}
		{% endcomment %}
  		
  		{% section 'title_top_image_left_content_right_slider' %}
  
<!--Section4-->


    	{% section 'centered_image_content_above_image' %}
  
  
  
<!--Section5-->


    	{% section 'testimonial__bg_title_user_image' %}
  
  		 {% section 'about-right-image-section' %}
 		
  		{% section 'welcome-cta-section' %}
  




</div>
<script>
  $(document).ready(function() {
/*$("#shopify-section-content_top_image_bottom_mobile .btn.btn--cta.cpsgts, #shopify-section-title_top_image_left_content_right_slider .btn.btn--cta.cpsgts").click(function(){
$("#shopify-section-content_top_image_bottom_mobile p, #shopify-section-title_top_image_left_content_right_slider p").removeClass("show_on_btn").slideDown();
$("#shopify-section-content_top_image_bottom_mobile .btn.btn--cta.cpsgts, #shopify-section-title_top_image_left_content_right_slider .btn.btn--cta.cpsgts").hide();
});*/

    
    
$("#shopify-section-content_top_image_bottom_mobile .btn.btn--cta.cpsgts, #shopify-section-title_top_image_left_content_right_slider .btn.btn--cta.cpsgts, #shopify-section-centered_image_content_above_image .btn.btn--cta.cpsgts").click(function(){


$(this).parent().find('p').removeClass("show_on_btn");

$(this).parent().find('p').removeClass("desktop");

$(this).hide();


});
    
$("#shopify-section-content_left_image_right_mobile .btn.btn--cta.cpsgts").click(function(){


$("#shopify-section-content_left_image_right_mobile .play_button").show();
$("#shopify-section-content_left_image_right_mobile").addClass("show_image");
  
$(this).parent().find('p').removeClass("show_on_btn");

$(this).parent().find('p').removeClass("desktop");

$(this).hide();


});
    
// $('.simpletext :contains("TM")').each(function(){
//     $(this).html($(this).html().split("TM").join("<span class='trademark'>TM</span>"));
// });

$("p").each(function() {

    if($.trim($(this).html()).length == 0) {
       $(this).remove();
    }

});
    
  });
  
// function checkPopup() {
//   if($('.mfp-bg').is(':visible')){
//     $("body, html").css("overflow","hidden");
      
//   }else{
//       $("body, html").css("overflow","unset");
//     }
  
// }

// $(document).ready(function() {

//   setInterval(checkPopup, 1000);
// }); 
  
 
// $(document).ready(function() {
// 	$('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
// 		disableOn: 700,
// 		type: 'iframe',
// 		mainClass: 'mfp-fade',
// 		removalDelay: 160,
// 		preloader: false,
// 		autoFocusLast : false,
      	
// 	});
// });
</script>