<!-- Title Page -->
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<style>
html,
body {
	scroll-behavior: smooth;
}

html,
body {
	padding-right: 0px !important;
}

* {
	background-repeat: no-repeat;
}

img {
	width: auto;
	height: auto;
}

.page_title {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	/* background-color: #b64d27 !important; */
	background: #b64d27 !important;
}

.page_title {
	padding: 35px 0px !important;
}

.page_title h1 {
	font-size: 45px;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: unset !important;
}

html {
	padding-right: 0px !important;
	overflow-x: hidden !important;
}

header.header2 {
	position: relative;
}

.container-menu-header-v2 {
	position: relative;
	margin-top: 0px !important;
}

.simpletext h2,
.wuscrf h3 {
	color: #b44b2b;
	font-weight: 400;
	font-size: 42px;
	line-height: 1.2em;
	margin-bottom: 15px;
	text-transform: unset;
}

section.wuscrf {
	padding: 15px 0px 100px 0px;
}

.wuscrf .sec-title {
	padding-bottom: 10px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
	font-family: 'DM Serif Text', serif !important;
}

section p {
	font-size: 17px !important;
	line-height: 1.7em !important;
	color: #000000 !important;
	font-weight: 400 !important;
	margin-bottom: 15px !important;
	font-family: 'Poppins', sans-serif !important;
}

body:not(.common-home) footer {
	margin-top: 0px !important;
}

.container {
	width: 1200px!important;
}

p:last-child {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

section.bannerSection img {
	width: 100%;
	height: auto;
}

section#section_k_welcome-left-image-section {
	padding: 80px 0px;
}


.commonSection .simpletext {
	height: 100%;
	flex-direction: column;
	display: flex;
	align-items: flex-start;
}

.roundLeftImage .simpletext {
	padding-left: 60px;
}

.roundRightImage .simpletext {
	padding-right: 60px;
}

div#shopify-section-welcome-right-image-section {
	padding: 0px 0px 80px 0px;
}

.bottomBg {
	background-size: 425px;
	position: absolute;
	top: -30px;
	width: 400px;
	right: -85px;
	height: 450px;
	z-index: -1;
}

.commonSection img {
	position: relative;
	top: 35px;
}

.roundRightImage .roundImageinner {
	display: flex;
	padding-right: 30px;
	align-items: center;
}

section#section_k_welcome-right-image-section {
	position: relative;
}

.simpletext a.btn {
	background: #b65327 !important;
	color: #fff !important;
	padding: 8px 32px;
	margin: 30px 0px 0px 0px !important;
	font-family: 'DM Serif Text', serif !important;
	font-weight: 400;
	border-radius: 10px !important;
	display: inline-block;
	line-height: 1.6em;
	font-size: 22px !important;
	width: auto;
	text-transform: uppercase;
	min-width: 200px;
	height: auto;
}

.simpletext a.btn:hover {
	background: #ab4618 !important;
	animation-name: unset !important;
	color: #fff !important;
}

.roundImageinner p span {
	color: #b44b2b;
	font-weight: bold;
}

@media (min-width:992px) and (max-width:1500px) {
	.container {
		width: 100%!important;
		max-width: 100%!important;
		padding: 0px 120px !important;
	}
}

@media (min-width:992px) and (max-width:1160px) {
	.roundRightImage .roundImageinner {
		padding-right: 0px;
	}
	.roundLeftImage .roundImageinner {
		padding-right: 0px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.page_title h1 {
		font-size: 36px;
	}
	.container {
		width: 100%!important;
		max-width: 100%!important;
		padding: 0px 35px !important;
	}
	.simpletext h2,
	.wuscrf h3 {
		font-size: 36px;
	}
	section p {
		font-size: 16px!important;
	}
	.roundRightImage .roundImageinner {
		padding-right: 0px;
	}
	.roundLeftImage .roundImageinner {
		padding-right: 0px;
	}
	div#shopify-section-welcome-right-image-section {
		padding: 30px 0px;
	}
	.roundRightImage .simpletext {
		padding-right: 30px;
	}
	.commonSection img {
		width: auto;
		height: 328px;
		top: 0px;
	}
	.bottomBg {
		background-size: 300px;
		position: absolute;
		top: -40px;
		width: 400px;
		right: -177px;
		height: 450px;
		z-index: -1;
	}
}

@media (max-width: 767px) {
	.page_title h1 {
		font-size: 24px;
		line-height: 23px;
		color: #fcf9f4;
	}
 
	.page_title {
		padding: 13.5px 0px !important;
	}
	.container {
		width: 100%!important;
		max-width: 100%!important;
		padding: 0px 25px!important;
	}
	.simpletext h2,
	.wuscrf h3 {
		color: #b44b2b;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.2em;
	}
	section p {
		font-size: 14px!important;
		line-height: 17pt!important;
		color: #000000!important;
		font-weight: 400!important;
		margin-bottom: 20px!important;
		padding-top: 0px!important;
	}
	.roundLeftImage .roundImageinner {
		display: flex;
		padding-right: 0px;
		align-items: center;
		flex-direction: column;
	}
	section#section_k_welcome-left-image-section {
		padding: 55px 0px;
	}
	.commonSection img {
		width: auto;
		height: 285px;
		top: 0px;
		margin-bottom: 40px;
	}
	.roundLeftImage .simpletext {
		padding-left: 0px;
	}
	.commonSection .simpletext h2 {
		text-align: center;
	}
	section#section_k_welcome-left-image-section {
		padding: 55px 0px 30px 0px;
	}
	.simpletext a.btn {
		padding: 6px 25px;
		font-size: 21px !important;
		margin: 15px 0px 0px 0px !important;
	}
	div#shopify-section-welcome-right-image-section {
		padding: 60px 0px 65px 0px;
	}
	.roundImageinner p {
		text-align: center;
	}
	.roundRightImage .roundImageinner img {
		order: 1;
	}
	.roundRightImage .roundImageinner {
		padding-right: 0px;
	}
	.roundRightImage .roundImageinner {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-right: 0px;
	}
	.roundRightImage .simpletext {
		padding-right: 0px;
		order: 2;
	}
	.bottomBg {
		background-size: 215px;
		position: absolute;
		top: -32px;
		width: 225px;
		right: 0px;
		height: 230px;
		background-position: 75px 0px;
		z-index: -1;
	}
	.commonSection .simpletext {
		width: 100%;
		align-items: center;
	}
	.wuscrf .sec-title {
		padding-bottom: 0px;
		padding-top: 0px;
	}
	section.wuscrf {
		padding: 0px 0px 60px 0px;
	}
}
</style>
<div class="welcomePage">
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center">{{ page.title }}</h1>
</section>

  
<!-- content page -->

<!--Section1-->
   
 {% section 'thankyou-video' %} 
 {% section 'about-right-image-section' %}
  {% section 'wys-new' %}
 {% section 'thank-you-cta-section' %}

  




</div>
<script>
  $(document).ready(function(){

    $("p").each(function() {

        if($.trim($(this).html()).length == 0) {
           $(this).remove();
        }

    });

  });
</script>