<!-- Title Page -->
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<style>
html,
body {
    scroll-behavior: smooth;
}
  .rangeSection .row, .midCtaSection .row {
    margin: 0px !IMPORTANT;
}
  section#section_k_new-influencer-section4:before {
    content: "";
    background: #fdfaf5;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0px;
    z-index: -1;
}
.grecaptcha-badge {
    display: none !important;
}



  .field_group {
    display: inline-block;
    width: 100%;
}
  .field_group.half_group .required_field::before {
    content: "*";
    color: red;
    position: absolute;
    left: -3px;
    top: 0px;
}
  
.required_field::before {
    content: "*";
    color: red;
    position: absolute;
    left: -15px;
    top: 0px;
}
.field_group.required_field {
    position: relative;
}
  .success_submit .success{
    display: inline-block !important;
    width: 100%;
    text-align: center;
    position: relative;
    top: -15px;
  }
  .submit_success .success p {
    color: green !important;
}
.field_group.half_group input {
    margin-bottom: 10px !important;
}
.empty_fields .error, .mail_error_field .mail_error{
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.empty_fields .error p, .mail_error_field .mail_error p {
    color: red !important;
}
.field_group.submit_btn .btn img {
    width: 22px !important;
    margin: -6px 0px 0px 5px;
}
    .mail_error_field .mail_error p {
    font-size: 17px !important;
}
  .mail_error_field .mail_error {
    text-align: center;
    margin: 0px;
}
svg#Layer_1 {
    position: absolute;
    bottom: -20px;
    transform: rotateY(0deg);
}
#shopify-section-influencer-section4 {
    position: relative;
}
#shopify-section-influencer-section3 {
    margin: 0px 0px 40px 0px;
}
section.formSection .appForm {
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(4.5px 5.362px 8px rgba(0,0,0,0.13));
    background-color: #ffffff;
    background: #fff;
    padding: 30px 60px 0px 60px;
}
  section.formSection {
    background-size: cover;
    padding: 130px 0px 190px 0px;
    position:relative;
}
section.formSection .appForm h2 {
    text-align: center;
    margin-bottom: 30px !important;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

section.formSection .appForm input {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #e6e6e6 !important;
    margin-bottom: 17px;
    padding: 15px;
    color: #a4a4a4 !important;
}
.field_group.half_group {
    margin: 0px -8px;
}
.field_group label {
    color: #c3882b;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  	display: block;
}
  section.formSection .appForm .half_group .field_group {
    width: 50%;
    float: left;
    padding:  0px 8px;
}
section.formSection .appForm input::placeholder {
    color: #a4a4a4 !important;
}
.field_group textarea {
    height: 150px;
    border: 2px solid #e6e6e6 !important;
    width: 100%;
    padding: 15px;
    resize: none;
  margin-bottom: 17px;
}  
  .field_group.submit_btn {
    text-align: center;
    margin: 10px 0px 15px 0px;
}
  section.page_title h1 sup {
    font-size: 20px;
  }
  .video_iframe a.btn{
  display: none;
  }
  .outer_video video {
    width: 100%;
}
html,
body {
    padding-right: 0px !important;
}

* {
    background-repeat: no-repeat;
}

img {
    width: auto;
    height: auto;
}

.page_title {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    /* background-color: #b64d27 !important; */
    background: #b64d27 !important;
}

.page_title {
    padding: 35px 0px !important;
}

.page_title h1 {
    font-size: 45px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: unset !important;
}

html {
    padding-right: 0px !important;
    overflow-x: hidden !important;
}

header.header2 {
    position: relative;
}

.container-menu-header-v2 {
    position: relative;
    margin-top: 0px !important;
}

.simpletext h2 {
    color: #b44b2b;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    font-family: 'DM Serif Text', serif !important;
}

section p {
    font-size: 17px !important;
    line-height: 1.7em !important;
    color: #000000 !important;
    font-weight: 400 !important;
    margin-bottom: 15px !important;
    font-family: 'Poppins', sans-serif !important;
}

body:not(.common-home) footer {
    margin-top: 0px !important;
}

.container {
    width: 1160px!important;
}

p:last-child {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

section.bannerSection img {
    width: 100%;
    height: auto;
}

section#section_k_welcome-left-image-section {
    padding: 80px 0px;
}

.commonSection img {
    width: auto;
    height: 435px;
    margin-left: 30px;
}

.commonSection .simpletext {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.roundLeftImage .roundImageinner {
    display: flex;
    padding-right: 0px;
    align-items: center;
}

.roundRightImage .roundImageinner {
    display: flex;
    padding-right: 0px;
    align-items: center;
}

.roundLeftImage .simpletext {
    padding-left: 20px;
}

.roundRightImage .simpletext {
    padding-right: 20px;
}

div#shopify-section-welcome-right-image-section {
    padding: 80px 0px;
}

.bottomBg {
    background-size: 400px;
    position: absolute;
    top: -124px;
    width: 400px;
    right: -115px;
    height: 450px;
    z-index: -1;
}

.rightBg {
    background-size: 400px;
    position: absolute;
    top: -124px;
    width: 400px;
    right: -115px;
    height: 450px;
    z-index: -1;
}
section#section_k_welcome-right-image-section {
    position: relative;
}

.simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 30px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
    height: auto;
}

.simpletext a.btn:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
.field_group.submit_btn .btn {
    border-radius: 10px !important;
    background-color: #b65327 !important;
    color: #fff !important;
    font-size: 21px !important;
    padding: 12px 40px !important;
    height: auto !important;
    line-height: 1.3em;
}

  
.field_group.submit_btn .btn:hover {
     background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
.roundImageinner p span {
    color: #b44b2b;
    font-weight: bold;
}
#shopify-section-testimonial__bg_title_user_image {
        padding: 95px 0px 20px 0px;
    }
    #shopify-section-testimonial__bg_title_user_image section {
        padding: 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
        border-radius: 10px;
      
    }
    #section_k_testimonial__bg_title_user_image .container > div div {
        padding: 0px;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 35px 0px 55px 0px;
    }
    .user_card img {
        width: 150px !important;
        height: 150px !important;
    }
    .user_address {
        color: #000 !important;
        font-size: 16px !important;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .user_data {
        margin-left: 30px !important;
        text-align: left !important;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
    }
.user_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        margin: 0px !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
        margin: 0px !important;
        padding-bottom: 0px;
    }
      
#shopify-section-testimonial__bg_title_user_image section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -185px) bottom;
    background-size: 475px;
    background-image: none !important;
}
.commonSection {
    position: relative;
}
hr {
    border-top: 1px solid #ddd !important;
    width: 1030px;
    margin: 0 auto !important;
    max-width: 100%;
}
.postCommonsection {
    padding: 70px 0px 20px 0px;
}
.postCommonsection img {
    width: auto;
    height: 450px;
    max-width: 100%;
}
.influencerSection .simpletext li::before {
    content: "";
    width: 7px;
    height: 7px;
    background: #c3872b;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 0px;
    margin: 0px 5px 0px 0px;
}
  .influencerSection .simpletext h2 {
    color: #c3872b !important;
}
.influencerSection .simpletext li {
    line-height: 1.6em;
    margin-bottom: 10px;
    position: relative;
    padding: 0px 0px 0px 12px;
}


.imageBorder {
    position: absolute;
    width: auto;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 19px;
    z-index: -1;
    left: 7px;
    border: 8px solid #bd812d;
}
.imageOuterinner {
    height: 435px;
    width: 435px;
    position: relative;
}
.postCommonsection img {
    width: 435px;
    height: 450px;
    border-radius: 50%;
    object-position: top;
    margin: 0px !important;
    position: relative;
    z-index: 99;
    object-fit: contain;
}
.leftBg {
    background-size: 250px;
    position: absolute;
    top: -250px;
    width: 400px;
    right: auto;
    height: 440px;
    z-index: -1;
    background-position: 0px 0px;
    left: 0px;
}
.rightBg {
    background-size: 120px;
    position: absolute;
    top: -35px;
    width: 400px;
    right: 0px;
    height: 600px;
    z-index: -1;
    background-position: calc(100% - 0px) 0px;
}

.simpletext h5 {
    color: #bd812d;
    margin-bottom: 5px;
    font-size: 24px;
}
.roundRightImage.postCommonsection .imageOuter {
    text-align: right;
    position: relative;
    top: 90px;
}
.postCommonsection .roundImageinner.row {
    padding: 0px 0px 0px 0px !important;
    align-items: flex-start;
}
.roundRightImage.postCommonsection .imageBorder {
    right: 7px;
    left: auto;
}
.roundRightImage.postCommonsection .row .simpletext {
    position: unset;
    left: 0px;
    padding: 0px 30px 0px 20px;
    padding-top: 0px;
}
  .bottom_section p {
    padding: 10px 20px;
}
.bottom_section {
    margin: 60px -15px 0px -15px;
}
  .roundRightImage.postCommonsection#section_k_influencer-section2 .row .simpletext {
    position: unset;
    left: 0px;
    padding: 0px 0px 0px 30px;
    padding-top: 0px;
}
.roundLeftImage.postCommonsection .row .simpletext {
    position: relative;
    right: 65px;
}
#shopify-section-testimonial__bg_title_user_image {
    padding: 10px 0px 20px 0px;
}
section#section_k_about-right-image-section h2 {
    width: 400px;
    max-width: 100%;
}
#shopify-section-about-right-image-section {
    padding: 110px 0px 120px 0px;
}
.bottomBg {
    background-size: 450px;
    position: absolute;
    top: -50px;
    width: 400px;
    right: -75px;
    height: 500px;
    z-index: -1;
}
section#section_k_about-right-image-section img {
    top: 10px;
    position: relative;
}

.url-details {
    margin: 0;
    position: absolute;
    height: 417px;
    width: 417px;
    left: -1px;
    top: 24px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    margin: 0 auto;
}
.url-overlay {
    margin: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 417px;
    width: 417px;
    left: -1px;
    top: 24px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 50%;
    margin: 0 auto;
}

.url-details a.btn {
    margin: 0px !important;
}
.url-details .btn.btn--cta.cpsgts {
    background: #b65327 !important;
    font-size: 18px;
    height: auto;
    border-radius: 8px !important;
    text-align: center;
    padding: 0px;
    padding: 15px 25px;
    line-height: 1em;
    font-weight: 400;
}
a.btn{
   font-family: 'DM Serif Text', serif !important;
}
.url-details .btn.btn--cta.cpsgts:hover, .url-details .btn.btn--cta.cpsgts:focus, .url-details .btn.btn--cta.cpsgts:active {
    background-color: #d45426 !important;
    border: 0px !important;
    box-shadow: unset !important;
    
}
.mobileBtn{
   display: none !important;
}
.postCommonsection .imageOuterinner:hover .url-details {
    opacity: 1;
    z-index: 999;
}
.postCommonsection .imageOuterinner:hover .url-overlay {
    opacity: 1;
    z-index: 99;
}
.roundRightImage.postCommonsection .imageOuter .imageOuterinner {
    margin-left: 50px;
}
section#section_k_post-left-image-section-1 {
    padding: 70px 0px 80px 0px;
}
#section_k_post-left-image-section-1 .rightBg {
    top: 30px;
}
#section_k_post-left-image-section-1 .imageOuter {
    position: relative;
    top: 33px;
}
section#section_k_shipping-section1 .imageOuter {
    position: relative;
    top: 0px;
}

section#section_k_shipping-section1 {
    padding: 100px 0px 0px 0px;
}
.roundLeftImage.postCommonsection .row .simpletext {
    position: unset;
    right: 0px;
    padding-top: 134px;
}
section#section_k_post-left-image-section-2 {
    padding: 162px 0px 80px 0px;
}
section#section_k_post-left-image-section-2 .rightBg {
    top: 10px;
}
section#section_k_post-left-image-section-2 .imageOuter {
    position: relative;
    top: -46px;
}
#section_k_shipping-section2 .imageOuterinner .url-overlay, #section_k_shipping-section2 .imageOuterinner .url-details {
    height: 413px;
    width: 413px;
    left: -1px;
    top: 28px;
}
#section_k_shipping-section1 .url-overlay, #section_k_shipping-section1 .url-details {
    height: 419px;
    width: 418px;
    left: -1px;
    top: 19px;
}
section.postBannersection h2 {
    margin-bottom: 5px !important;
}
section .simpletext h2 {
    margin-bottom: 15px !important;
}
.accordion-container {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0px;
    width: 100%;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.set > a {
    line-height: 1.3em;
    display: flex;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    color: #b44b2b;
    font-weight: 400;
    border-bottom: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    font-family: 'DM Serif Text', serif !important;
    transition: all 0.2s linear;
    font-size: 17px;
  padding: 14px 35px 14px 20px;
}
.set > a i {
    float: right;
    margin-top: 0px;
    position: absolute;
    right: 15px;
}
.set > a.active{
  background-color:#fff;
  color: #b44b2b;
}
.content {
    background-color: #fff;
    border: 0px;
    padding: 5px 35px 28px 20px;
    display: none;
}
.content p {
    padding: 0px;
    margin: 0;
    font-size: 15px !IMPORTANT;
    color: #333;
}
.postCommonsection .row .simpletext {
    position: relative;
    top: 100px;
    right: 0px;
}
.content p span, .content span {
    color: #c18a2b !important;
} 
  svg{
  display:none !important;
  }
.influencerSection h1 {
    font-size: 40px !important;
    text-align: center;
    margin-bottom: 60px;
    color: #b44b2b !important;
}
  
  @media (min-width: 1420px){
  svg#Layer_1 {
    position: absolute;
    bottom: -50px;
    transform: rotateY(0deg);
}
  }
  @media (min-width: 1700px){
  svg#Layer_1 {
    position: absolute;
    bottom: -75px;
    transform: rotateY(0deg);
}
  
  
  }
  
 @media (min-width:768px) and (max-width:1250px) { 
    
   
      .roundRightImage.postCommonsection .row .simpletext {

    padding: 0px 30px 0px 35px;
    padding-top: 0px;
}
   .bottom_section p {
    padding: 10px 35px;
}
}
 
@media (min-width:1101px) and (max-width:1200px) {
    .container {
      width: 992px!important;
      max-width: 100%!important;
      padding: 0px 0px !important;
  }
}

@media (min-width:992px) and (max-width:1100px) {
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundLeftImage .roundImageinner {
        padding-right: 0px;
    }
     .container {
        width: 860px !important;
        max-width: 100%!important;
        padding: 0px 0px !important;
    }
}
@media (min-width: 768px){
  .mobile_only{
    display: none !important;
  }
}
@media (min-width:768px) and (max-width:1100px) {
#section_k_shipping-section2 .imageOuterinner .url-overlay, #section_k_shipping-section2 .imageOuterinner .url-details {
    height: 300px;
    width: 299px;
    left: 0px;
    top: 19px;
}
 .container {
        width: 100% !important;
        max-width: 100%!important;
        padding: 0px 50px !important;
    }
.postCommonsection .roundImageinner.row {
    margin: 0px !important;
}
#section_k_shipping-section1 .url-overlay, #section_k_shipping-section1 .url-details {
    height: 304px;
    width: 303px;
    left: 0px;
    top: 15px;
}
.url-details {
    height: 298px;
    width: 297px;
    left: -1px;
    top: 32px;
}
.url-overlay {
    height: 298px;
    width: 297px;
    left: -1px;
    top: 32px;
}
   
    .roundRightImage .simpletext {
        padding-right: 30px;
    }
    section#section_k_post-left-image-section-2 {
        padding: 140px 0px 10px 0px;
    }
    section#section_k_post-left-image-section-2 .imageOuter {
        position: relative;
        top: -20px;
    }
    
    section#section_k_post-left-image-section-2 .rightBg {
        top: 30px;
    }
    section#section_k_shipping-section1 {
        padding: 10px 0px 0px 0px;
    }
    .bottomBg {
        background-size: 350px;
        background-position: calc(100% - -15px) 0px;
    }
    .simpletext h2 {
        font-size: 36px;
    }
    section p {
        font-size: 16px!important;
    }
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundLeftImage .roundImageinner {
        padding-right: 0px;
    }
    .commonSection img {
        height: 325px;
    }
    .postCommonsection img {
        height: 325px;
    }
    .roundLeftImage .simpletext {
        padding: 0px;
    }
  .imageOuter {
    padding: 0px !important;
}
    .roundRightImage .simpletext {
    padding: 0px !important;
}
    .page_title h1 {
        font-size: 36px;
    }
.imageOuterinner {
    height: 370px;
    width: 370px;
    position: relative;
    text-align: center;
    margin: 0 50px 0px auto !important;
}
#section_k_shipping-section2 .imageOuterinner {
    height: 370px;
    width: 370px;
    position: relative;
    margin: 0!important;
}
    .postCommonsection .roundImageinner.row {
          padding: 0px 0px 0px 0px !important;
          align-items: flex-start;
      }
      .roundLeftImage.postCommonsection .row .simpletext {
          position: relative;
          right: 0px;
      }
    
    section .simpletext h2 {
        margin-bottom: 15px !important;
        font-size: 30px !important;
    }
  
  .shipBannersection .simpletext h2 {

    font-size: 28px !important;
}
.hero_play_button a.btn {
    margin: 0px 15px 0px 0px !important;
    white-space: normal;
    font-size: 20px !important;
}


}

@media (max-width: 767px) {
  .required_field::before {
    left: -11px;
}
  .bottom_section p {
    padding: 10px 0px;
}
  .influencerSection .simpletext li::before {
   
    top: 7px;
  }
  .field_group.half_group {
    margin: 0px -8px;
  	width: auto;
}
 body #shopify-section-testimonial__bg_title_user_image {
    padding: 50px 0px 50px 0px !important;
}
  .field_group.submit_btn .btn img {
    width: 19px !important;
    margin: -5px 0px 0px 5px;
}
 section#section_k_influencer-banner-mob  .FirstSectImage {
    height: 320px;
    background-size: cover;
    background-position: center !important;
}
  section#section_k_influencer-banner-mob .simpletext h2 sup {
    font-size: 13px;
    position: relative;
    top: -5px;
}
  section#section_k_influencer-banner-mob .row {
    margin: 0px;
}
  section.page_title h1 sup {
    font-size: 14px;
}
  section#section_k_influencer-banner-mob {
    padding: 0px;
}
   section#section_k_influencer-banner-mob  .simpletext p {
    text-align: left;
    margin-bottom: 10px !important;
}
  .influencerSection .simpletext h2 span {
    font-size: 20px;
}
  .rightBg {
    display: none;
}
  .simpletext a.btn img {
    width: 17px;
    position: relative;
    top: -2px;
}
  
  .field_group textarea {
    height: 80px;
    border: 2px solid #e6e6e6 !important;
    width: 100%;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}
  .field_group.submit_btn .btn {
    border-radius: 10px !important;
    background-color: #b65327;
    color: #fff;
    font-size: 21px;
    padding: 8px 30px;
}
  .testimonial__bg_title_user_image {
    padding: 0px 0px 0px 0px !important;
}
  .mail_error_field .mail_error p {
    font-size: 14px !important;
}

  .field_group label {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
section.formSection {
    background-size: cover;
    padding: 75px 0px 115px 0;
}
  section.formSection .appForm {
    padding: 30px 15px;
}
  section.formSection .appForm input {
    margin-bottom: 15px;
    padding: 10px;
    color: #a4a4a4 !important;
}
  .influencerSection .row {
    margin: 0px;
}
  #shopify-section-influencer-section3 {
    margin: 0px 0px 0px 0px;
}

  .bottom_section {
    margin: 15px 0px 0px 0px;
}
  .influencerSection .simpletext li {
    line-height: 1.5em;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
}
 section#section_k_influencer-banner-mob .simpletext {
    padding: 30px 0px 25px 0px;
    margin: 0 auto;
    text-align: center;
}
  .desktop_only{
    display: none !Important;
  }
#shopify-section-client-section section.client_section.csbg-yellow {
    margin: 0px !important;
    padding: 0px;
}
#shopify-section-client-section  .client_section .container-fluid {
    padding-bottom: 0px!important;
    padding-top: 0px;
}
    .page_title h1 {
        font-size: 24px;
        line-height: 23px;
        color: #fcf9f4;
    }
    .page_title {
        padding: 13.5px 0px !important;
    }
    .container {
        width: 100%!important;
        max-width: 100%!important;
        padding: 0px 25px!important;
    }
    .simpletext h2 {
        color: #b44b2b;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.2em;
    }
    section p {
        font-size: 14px!important;
        line-height: 17pt!important;
        color: #000000!important;
        font-weight: 400!important;
        margin-bottom: 20px!important;
        padding-top: 0px!important;
    }
    .roundLeftImage .roundImageinner {
        display: flex;
        padding-right: 0px;
        align-items: center;
        flex-direction: column;
    }
    section#section_k_welcome-left-image-section {
        padding: 55px 0px;
    }
    .commonSection img {
        width: auto;
        height: 285px;
        margin-bottom: 40px;
    }
    .imageBorder {
        width: 280px;
        top: 10px;
        height: 280px;
        left: 7px;
    }
    .postCommonsection img {
        width: auto;
        height: auto !important;
        max-width: 100%;
        margin-bottom: 40px !important;
        width: 265px !important;
    }
    .roundLeftImage .simpletext {
        padding-left: 0px;
    }
    .commonSection .simpletext h2 {
        text-align: center;
    }
    section#section_k_welcome-left-image-section {
        padding: 55px 0px 30px 0px;
    }
    .simpletext a.btn {
        padding: 6px 25px;
        font-size: 21px !important;
        margin: 15px 0px 0px 0px !important;
    }
    div#shopify-section-welcome-right-image-section {
        padding: 70px 0px 65px 0px;
    }
    .roundImageinner p {
        text-align: center;
    }
    .roundRightImage .roundImageinner img {
        order: 1;
    }
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundRightImage .roundImageinner {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 0px;
    }
    .roundRightImage .simpletext {
        padding-right: 0px;
        order: 1;
    }
  	.postCommonsection .imageOuter {
        order: 2;
    }
    .commonSection .simpletext {
        width: 100%;
        align-items: center;
        top: unset !important;
    }
    #shopify-section-testimonial__bg_title_user_image {
        padding: 10px 0px 50px 0px;
    }
    #shopify-section-about-right-image-section {
        padding: 00px 0px 60px 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 40px 25px 40px 25px !important;
        background: #fff !important;
        border-radius: 10px;
    }
    .user_card img {
        width: 75px !important;
        height: 75px !important;
    }
    .user_data .user_name {
        font-size: 18pt !important;
        margin: 0px 0px 8px 0px !important;
        line-height: 18pt;
    }
    .user_position {
        font-size: 10pt !important;
        line-height: 1.2em !important;
    }
    .user_address {
        font-size: 10pt !important;
        line-height: 1.3em !important;
    }
    .user_data {
        margin-left: 12px !important;
        text-align: left !important;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 20px 0px 30px 0px;
    font-size: 12pt;
    }
#shopify-section-testimonial__bg_title_user_image section {
        background-image: none !important;
    }
#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 14px !important;
}
.url-details .btn.btn--cta.cpsgts {
    font-size: 15px;
    padding: 12px 18px;
  }
  .mobileBtn{
     display: inline-block !important;
  }
#section_k_shipping-section1 .url-overlay, #section_k_shipping-section1 .url-details {
    height: 255px;
    width: 255px;
    left: -1px;
    top: 12px;
}
#section_k_shipping-section2 .imageOuterinner .url-overlay, #section_k_shipping-section2 .imageOuterinner .url-details {
    height: 257px;
    width: 255px;
    left: 0px;
    top: 17px;
}
.postCommonsection a.btn {
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    background: #b44b2b !important;
    border: 0px;
    color: #fff !important;
    margin: 5px auto 0px auto !important;
    padding: 10px 40px;
    width: auto;
    min-width: unset;
  }
  .postCommonsection a.btn:hover, .postCommonsection a.btn:focus, .postCommonsection a.btn:active {
      background: #b44b2b !important;
      opacity: 1 !important;
      color: #fff !important;
      box-shadow: unset !important;
  }
  .postCommonsection .roundImageinner.row {
    padding: 0px !important;
    align-items: flex-start;
    margin: 0px !important;
}
.imageOuter {
    top: 0px !important;
}

.postCommonsection .row .simpletext {
    left: 0px !important;
    right: 0px !important;
    margin: 20px auto 0px auto !important;
    padding: 0px !important;
}
.imageOuterinner {
    height: 280px;
    width: 280px;
    margin: 0 auto !important;
}
.postCommonsection {
    padding: 20px 0px 10px 0px !important;
}
.postCommonsection .imageOuter {
    margin: 75px auto 0px auto;
}
hr {
    border: 0px !important;
}
.roundLeftImage .rightBg {
    top: auto!important;
    left: 0px;
    width: 300px;
    height: 320px;
    background-size: 175px;
    bottom: 15px;
    background-position: 0px 10px;
}
#section_k_courier-section .container > p {
    text-align: left;
    margin: 30px 0px 0px 0px !important;
    padding-bottom: 0px !important;
}
.corier_section ul.tabs {
    margin: 20px auto 30px auto;
}
#shopify-section-shipping-section2 {
    margin-bottom: 15px
}
.imageOuterinner {
    height: auto;
    width: auto;
    margin: 0 auto !important;
}
.postCommonsection img {
    height: auto;
    max-width: 100%;
    margin: 0px auto !important;
    width: 265px !important;
    display: block;
}
.roundRightImage.postCommonsection .rightBg {
    top: auto !important;
    width: 300px;
    height: 300px;
    background-position: calc(100% - -0px) 10px;
    background-size: 175px;
    bottom: 35px;
}
.simpletext h5 {
    font-size: 18px;
}
.commonSection img {
    width: auto;
    height: 285px;
    max-width: 100%;
    margin: 40px 0px 0px 0px;
}
section.postBannersection .simpletext {
    padding: 25px 0px 20px 0px;
}
#shopify-section-post-banner h2 {
    margin-bottom: 10px !important;
}
section.postBannersection .row .col-lg-6 {
    padding: 0px !important;
}
section.postBannersection .row {
    padding: 0px 0px 0px 0px;
    margin: 0px -15px 0px 0px !important;
    width: auto;
    max-width: unset;
}
section.postBannersection h2 {
    font-size: 18px !important;
}
section.postBannersection .FirstSectImage {
    background-size: contain;
    background-position: right bottom !important;
    background-repeat: no-repeat;
}
.fullWidthtext p {
    padding: 0px 0px;
    text-align: left;
}
.roundImageinner p {
    text-align: left;
}

.set {
    
    margin-bottom: 10px;
}
.set > a {
    font-size: 15px;
    line-height: 1.3em;
  padding: 10px 30px 14px 15px;
}
  .content {
  padding: 0px 30px 10px 15px;
}
.leftBg {
    background-size: 200px;
    position: absolute;
    top: -133px;
    width: 200px;
    right: auto;
    height: 300px;
    z-index: -1;
    background-position: 0px 0px;
    left: -42px;
}
    .influencerSection .row .col-sm-6 {
    padding: 0px;
}
#shopify-section-new-influencer-section1 .rightBg {
    right: 0px !important;
    display: block;
    background-size: 55px;
    top: -5px !important;
}
.influencerSection h1 {
    font-size: 28px !important;
    width: 280px;
    margin: 0 auto 40px auto;
    max-width: 100%;
}
.influencerSection .outer_video h2 {
    color: #c3872b !important;
    text-align: center;
    margin-bottom: 28px !important;
    margin-top: 5px !important;
    font-size: 24px !important;
    width: 285px;
    text-align: center;
    margin: 5px auto 28px auto;
    max-width: 100%;
}


}
 
@media (min-width: 401px) and (max-width: 767px){
.postBannersection .row {
    padding: 25px 0px 0px 0px !important;
}
section.postBannersection .simpletext {
    padding: 25px 0px 45px 0px !important;
}
  
}
  @media (max-width:576px){
  section#section_k_influencer-banner-mob  .FirstSectImage {
    height: 260px;
}
  }
  @media (max-width: 400px){
 section#section_k_influencer-banner-mob  .FirstSectImage {
    height: 220px;
}
}
 @media (max-width: 358px){
  .user_position {
    font-size: 9pt !important;
    line-height: 1.2em !important;
}
    .user_address {
    font-size: 9pt !important;
    line-height: 1.3em !important;
}
   
  }
</style>
<div class="shippingPage">
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center desktop_only">DO YOU WANT TO MAKE $1,000,000?</h1>
   <h1 class="snize-search-results-page-title l-text2 t-center mobile_only">DO YOU WANT<br> TO MAKE $1,000,000?</h1>

  </section>

  
<!-- content page -->

<!--Section1-->
    
 {% section 'new-influencer-banner' %}
   {% section 'new-influencer-banner-mob' %}
  {% section 'new-influencer-features' %}
 {% section 'new-influencer-section1' %}
  {% section 'new-influencer-section2' %}
  {% section 'new-influencer-section3' %}
  {% section 'new-influencer-section5' %}
   {% section 'new-influencer-section6' %}
  {% section 'new-influencer-section7' %}
   {% section 'new-influencer-section4' %}
   
  
 
  {% section 'testimonial__bg_title_user_image' %}

{% section 'welcome-cta-section' %}


  




</div>
<script>
  $(document).ready(function(){

    $("p").each(function() {

        if($.trim($(this).html()).length == 0) {
           $(this).remove();
        }

    });
    
    $(".field_group.submit_btn .btn").click(function(e){
      
     
       var mailvalue = $(".mail_field input").val();
  	
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
      
      if(!testEmail.test(mailvalue)){
      	$("form").addClass("mail_error_field");
        e.preventDefault();
      }else{
      	$("form").removeClass("mail_error_field");
      }
     
         $('.required_field input, .required_field textarea').each(function(){
           if( $(this).val() == "" ){
           	$("form").addClass("empty_fields");  
           
           }
           else{
             
             $("form").removeClass("empty_fields");  
           }
      });
   
    
	});
    
    
    
  });

</script>