<style>
  .contact-info .size21 p {
    color: #fff !important;
}
.videoInnerSection {
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}
  .videoInnerSection iframe{
    width: 100%;
    margin: 0 auto;
}
  .row.boxed.shrink90 {
    margin-top: 60px;
}
  .container{
  	width: 1140px;
    max-width: 100%;
  } 
  .boxed{
  	box-shadow: 10px 10px 96px rgba(155, 155, 155, 0.25) !important;
    background: #ffffff !important;
    border-radius:10px;
  }
  
  .contact-info{
  border-radius: 10px 0 0 10px;
  }
  @media (max-width: 1200px){
   .container{
  	width: 100%;
    max-width: 100% !important;
    padding: 0px 35px !important;
  } 
  }
  @media (max-width:767px){
    .col-md-12.p-b-30.contact_ttl.p-desktop {
      display: none;
  }
    .floralbg-lt{
      background:unset !important;
    }
    .contact_ttl{
      font-size: 18px!important;
    }
    .contact-info {
        border-radius: 10px 10px 0 0 !important;
    }
    .contact-info .nftext {
        font-size: 21px !important;
        padding-top: 30px !important;
        padding-bottom: 15px !important;
    }
    body #shopify-section-contact-right-image-section .roundRightImage .roundImageinner {
      padding-right: 0px !important;
      padding-left: 0px !important;
	}
    #shopify-section-contact-right-image-section .chatButton {
      margin: auto !important;
            width: unset;
    }
    #shopify-section-contact-right-image-section .commonSection img {
         width: 70% !important;
        height: auto !important;
        /* max-width: 210px !important; */
        margin-top: -6px !important;
    }
    
    
}

@media only screen  and (max-width: 400px ){
  body #shopify-section-contact-right-image-section .simpletext a.btn {
    font-size: 14px !important;
  }
  body #shopify-section-contact-right-image-section a.btn.take_ques_btn.scrollToForm {
    border: 1px solid #c3862b !important;
    background: #ffffff !important;
    color: #c3862b !important;
}
}

  
/* ----------------   */
 
.contact-info p.nftext {
    font-family: 'DM Serif Text', serif !important;
    font-size: 30px !important;
    font-weight: 500 !important;
      padding-bottom: 25px !important;
}

/* section#section_k_contact_testimonial__bg_title_user_image .text-center.simpletext p {
    max-width: 850px;
    margin: auto;
} */

.leave-comment .submit {
    font-family: 'DM Serif Text', serif !important;
    font-size: 24px !important;
}

form#contact_form .bo4 {
    border: 0;
}

form.leave-comment input[type="text"], .leave-comment textarea {
    border-radius: 8px !important;
    z-index: 999;
    border: 1px solid #c8913c !important;
    outline: 0px !important;
}

form.leave-comment input[type="text"]::placeholder, .leave-comment textarea::placeholder {
    color: gray !important;
}

@media only screen  and (max-width:767px) {
    form#contact_form h4 {
      padding: 5px 0;
  }
    .col-md-12.p-b-30.contact_ttl.p-desktop {
        display: none;
    }

    form.leave-comment input.submit {
        margin-bottom: 50px !important;
        text-align: center;
        margin: auto;
        width: 100%;
    }
/*   section#section_k_contact_testimonial__bg_title_user_image .text-center.simpletext p{
  	    text-align: left;
  } */

    form.leave-comment .w-size25 {
        margin: auto;
          width: 70% !important;
    }

/*     body #section_k_contact_testimonial__bg_title_user_image .container > div {
            padding: 40px 20px 5px !important
    } */

/*     section#section_k_contact_testimonial__bg_title_user_image h4 {
        font-size: 14px !important;
        margin-top: 20px !important;
        margin-bottom: 38px !important;
    }

    section#section_k_contact_testimonial__bg_title_user_image .user_image img {
        max-width: 80px !important;
        height: auto !important;
        vertical-align: top;
        margin-top: -40px;
    } */

    section.bgwhite .contact_ttl {
        font-size: 14px !important;
        padding-bottom: 33px !important;
    }

    .row.boxed.shrink90 {
        margin-top: 10px;
    }

    body .contact-info p.nftext {
        font-size: 23px !important;
          padding-bottom: 10px !important;
    }

/*     section#section_k_contact_testimonial__bg_title_user_image .container {
        padding: 0 20px !important;
    } */

    .row.boxed.shrink90 p {
        margin-bottom: 0 !important;
      
    line-height: 1.5 !important;
    }

    .row.boxed.shrink90 .size21 {
        min-height: unset;
    }

    .row.boxed.shrink90 {
        width: 100% !important;
    }

    section.bgwhite.p-t-66.p-b-60.floralbg-lt {
        padding-top: 43px !important;
          padding-bottom: 25px !important;
    }

    form#contact_form .bo4 {
        height: 35px !important;
    }
  .leave-comment .m-text26 {
      padding-bottom: 24px;
  }
  form.leave-comment input.submit {
    width: 100%;
    padding: 4px 19px !important;
    height: unset !important;
        margin-bottom: 31px !important;
}
  body  #shopify-section-contact-right-image-section .roundRightImage .roundImageinner .simpletext h2 {
      font-size: 18px !important;
/*       text-align: left !important; */
  }
    .row.boxed.shrink90 .time_available {
      padding-bottom: 4px !important;
  }
  #shopify-section-contact-right-image-section{
  	    margin-bottom: 20px !important;
  }
/*  body #section_k_contact_testimonial__bg_title_user_image .user_data{
      margin-left: 10px !important;
    }
    body #section_k_contact_testimonial__bg_title_user_image .user_data .user_name {
      font-size: 22px !important;
  }
    body #section_k_contact_testimonial__bg_title_user_image .user_data p.user_position {
      font-size: 14px !important;
  }
     body #section_k_contact_testimonial__bg_title_user_image .user_data p.user_address {
      line-height: 1.4 !important;
  } */
 
  #shopify-section-contact-right-image-section .bottomBg {
      background-position: 18px top !important;
  }
  
}

@media only screen  and (min-width:768px) {
    .col-md-12.p-b-30.contact_ttl.p-mobile {
        display: none;
    }
    .contact-info .size21 p {
	    margin: 0 !important;
	}

    .floralbg-lt {
        background-position: -134px -55px;
    }

    #shopify-section-contact-right-image-section .commonSection img {
        top: 0 !important;
    }

    #shopify-section-contact-right-image-section .bottomBg {

        /*     background-position: -44px -41px !important; */
        top: -88px !important;
    }

    #shopify-section-contact-right-image-section .roundRightImage .roundImageinner {
        padding-right: 0 !important;
    }

    #shopify-section-contact-right-image-section .roundRightImage .roundImageinner p {
        max-width: 528px;
    }

    body .leave-comment .submit {
        font-size: 24px !important;
      padding: 4px 39px !important;
          width: unset !important;
    height: unset !important;
    }
  #shopify-section-contact_testimonial__bg_title_user_image h2 {
/*       font-size: 19px !important; */
  }
  #shopify-section-contact_testimonial__bg_title_user_image h2 sup {
      font-size: 13px !important;
  }
  .row.boxed.shrink90 .size21 {
      min-height: 494px !important;
  }
  form.leave-comment .bo4 {
      margin-bottom: 22px !important;
  }
  form.leave-comment h4.m-text26 {
    padding-bottom: 30px !important;
  }
  section.bgwhite .contact_ttl {
        font-weight: 400;
  }
    .ctaSection .simpletext p {
      max-width: 986px;
      margin: auto;
  }
   .boxed.shrink90 .col-md-6:nth-child(2) {
      padding-left: 25px !important;
      padding-right: 25px !important;
  }

}

div#shopify-section-contact-right-image-section {
    overflow: visible !important;
}

body #shopify-section-contact-right-image-section a.btn.take_ques_btn.scrollToForm {
    border: 1px solid #c3862b !important;
    background: #fff !important;
    color: #c3862b !important;
}
section.bgwhite .contact_ttl {
    font-family: 'DM Serif Text', serif !important;
    line-height: 1.2em;
    font-size: 42px !important;
    margin: 85px 0px 10px 0px;
}
.contact-info {
    padding: 20px 20px 25px 20px !important;
}
.days_title, .row.boxed.shrink90 p b {
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-bottom: 0px !important;
}
.days_title b, .row.boxed.shrink90 p b {
    font-weight: 600 !important;
}
.row.boxed.shrink90 .time_available {
    padding-bottom: 8px !important;
    font-size: 13px !important;
    font-weight: 300 !important;
}
.contact-info hr {
    border-color: #fff;
    width: calc(100% - 20px) !important;
    margin: 15px auto 20px auto !important;
    padding: 0px !important;
}
.contact-info p:last-child {
    padding-bottom: 0px;
}
.contact-info p {
    padding-bottom: 15px;
    font-size: 13px !important;
    font-weight: 300 !important;
}
form.leave-comment input[type="text"], .leave-comment textarea {
    border-radius: 5px !important;
    z-index: 999;
    border: 1px solid #c8913c !important;
    outline: 0px !important;
    padding: 5px 10px;
    font-size: 14px !important;
    margin-bottom: 12px !important;
}
form.leave-comment input.submit {
    width: 100%;
    padding: 4px 19px !important;
    height: unset !important;
    margin-bottom: 10px !important;
    font-size: 22px !important;
    border-radius: 7px;
}
form#contact_form .bo4 {
    height: auto !important;
    margin: 0px;
}
form#contact_form {
    padding: 15px 5px 0px 5px !important;
    display: block;
}
section.bgwhite.floralbg-lt {
    background-size: 250px;
    background-position: 0px -35px;
    margin: 0px 0px -20px 0px !important;
    padding: 0px !important;
  	background-repeat: no-repeat;
}
.contact-info p.nftext {
    font-family: 'DM Serif Text', serif !important;
    font-size: 28px !important;
    padding: 0px 0px 20px 0px !important;
    font-weight: 400 !important;
}
.row.boxed.shrink90 {
    width: 95%;
}
.contact-info {
    padding: 40px 40px 50px 40px !important;
}
.contact-info p {
    padding-bottom: 15px;
    font-size: 16px !important;
    font-weight: 300 !important;
}
.row.boxed.shrink90 .time_available {
    padding-bottom: 8px !important;
    font-size: 17px !important;
    font-weight: 300 !important;
}
form#contact_form .bo4 {
    height: auto !important;
    margin: 0px !important;
}
.days_title, .row.boxed.shrink90 p b {
    font-size: 18px !important;
    font-weight: 600 !important;
    padding-bottom: 0px !important;
}
.row.boxed.shrink90 .size21 {
    min-height: unset !important;
}
.contact-info hr {
    border-color: #fff;
    width: calc(100% - 20px) !important;
    margin: 25px auto 22px auto !important;
    padding: 0px !important;
    border-width: 2px;
}
form.leave-comment input[type="text"], .leave-comment textarea {
    border-radius: 5px !important;
    z-index: 999;
    border: 1px solid #c8913c !important;
    outline: 0px !important;
    padding: 8px 12px;
    font-size: 16px !important;
    margin-bottom: 25px !important;
}
form#contact_form textarea.bo4 {
    margin-bottom: 25px !important;
}
.boxed.shrink90 .col-md-6:nth-child(2) {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
form.leave-comment input.submit {
    width: 100%;
    padding: 4px 60px !important;
    height: unset !important;
    margin-bottom: 10px !important;
    font-size: 28px !important;
    border-radius: 10px;
}
.boxed {
    box-shadow: 0px 0px 13px #ccc !important;
    background: #ffffff !important;
    border-radius: 10px;
}

@media (max-width: 767px){
 .boxed.shrink90 .col-md-6:nth-child(2) {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.videoInnerSection {
    padding: 0 15px 20px 15px;
}
  .videoInnerSection iframe {
    height: 180px;
}
  section.bgwhite .contact_ttl {
      line-height: 1.2em;
      font-size: 21px !important;
      margin: 0px 0px 5px 0px;
      font-weight: normal;
  }
  body .contact-info p.nftext {
    font-weight: normal !important;
    font-size: 19px !important;
    padding: 0px 0px 15px 0px !important;
}
.contact-info {
    padding: 20px 20px 25px 20px !important;
}
.days_title, .row.boxed.shrink90 p b {
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-bottom: 0px !important;
}
.days_title b, .row.boxed.shrink90 p b {
    font-weight: 600 !important;
}
.row.boxed.shrink90 .time_available {
    padding-bottom: 8px !important;
    font-size: 13px !important;
    font-weight: 300 !important;
}
.contact-info hr {
    border-color: #fff;
    width: calc(100% - 20px) !important;
    margin: 15px auto 20px auto !important;
    padding: 0px !important;
  	 border-width: 1px;
}
.contact-info p:last-child {
    padding-bottom: 0px;
}
.contact-info p {
    padding-bottom: 15px;
    font-size: 13px !important;
    font-weight: 300 !important;
}
form.leave-comment input[type="text"], .leave-comment textarea {
    border-radius: 5px !important;
    z-index: 999;
    border: 1px solid #c8913c !important;
    outline: 0px !important;
    padding: 5px 10px;
    font-size: 14px !important;
    margin-bottom: 12px !important;
}
form#contact_form textarea.bo4 {
    margin-bottom: 12px !important;
}
form.leave-comment input.submit {
    width: 100%;
    padding: 4px 19px !important;
    height: unset !important;
    margin-bottom: 10px !important;
    font-size: 22px !important;
    border-radius: 7px;
}
form#contact_form .bo4 {
    height: auto !important;
    margin: 0px;
}
form#contact_form {
    padding: 15px 5px 0px 5px !important;
    display: block;
}
section.bgwhite.p-t-66.p-b-60.floralbg-lt {
    padding-top: 43px !important;
    padding-bottom: 0px !important;
}
.boxed {
    box-shadow: 0px 0px 13px #ccc !important;
    background: #ffffff !important;
    border-radius: 10px;
    margin-bottom: 0px !important;
}
.row.boxed.shrink90 {
    width: 100%;
}  
}
@media (max-width: 360px){
  section.bgwhite .contact_ttl {
      font-size: 20px !important;
  }
}
@media (max-width: 345px){
  section.bgwhite .contact_ttl {
      font-size: 19px !important;
  }
}
@media (max-width: 330px){
  section.bgwhite .contact_ttl {
      font-size: 18px !important;
  }
}
/* @media only screen and (min-width:1100px) {
	#shopify-section-contact_testimonial__bg_title_user_image h4 {
	    font-size: 26px !important;
	}
  #shopify-section-contact_testimonial__bg_title_user_image h2 {
      font-size: 40px !important;
  }
  body #section_k_contact_testimonial__bg_title_user_image .container > div{
  	padding: 65px 60px !important;
  }
} */

  
/*   ------  footer css----------- */
/*   @media only screen and (max-width: 767px){
   
  footer#footer h4.s-text12 {
		text-align: left !important;
        text-transform: lowercase;

	}
    footer#footer h4.s-text12::first-letter {
      text-transform: capitalize;
  }
  footer#footer p.s-text7.w-size27 {
    text-align: left !important;
  }
   footer#footer .flex-m {
      text-align: left !important;
  }
    footer#footer .w-size7.respon4 ul li {
      text-align: left;
  }
    footer#footer .w-size7.respon4 h4 {
    text-transform: capitalize !important;
  }
  footer#footer .w-size7.respon4 {
      width: 50%;
  }
      footer#footer .w-size6.p-t-30.p-l-15.p-r-15.respon3 {
      order: 1;
  }
  footer#footer .w-size8.p-t-30.p-l-15.p-r-15.respon3 {
      order: 2;
  }
  footer#footer .w-size7.p-t-30.p-l-15.p-r-15.respon4 {
      order: 3;
  } 
    footer#footer .flex-w div:nth-child(4) {
      display: none !important;
  }
}
  @media only screen and (min-width: 768px){
	footer#footer h4.s-text12 {
	    text-transform: uppercase;
	}
    footer#footer .flex-w div:nth-child(4) {
    
    visibility: hidden;
  }
	
} */
  
  
</style>
<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" {% if settings.show_contact_top_image %}style="background-image:url({{ 'contact_top.jpg' | asset_url }});" {% endif %}>
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
<!-- content page -->
	{% section 'contact_top_section' %}
    
    {% section 'contact_testimonial__bg_title_user_image' %}

	{% section 'about-right-image-section' %}

  	{% section 'welcome-cta-section' %}